@import "./abstracts/vars";
@import "./abstracts/mixins";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    min-width: 300px;
}

ul{
    list-style: none;
}

.container {
    @extend %container;
}

a{
    text-decoration: none;
}


@import "./header";
@import "./main-block";
@import "./photoshot";
@import "./about";
@import "./timetable";
